<div class="left-menu">
    <div class="logo"><i class="fa fa-align-justify"></i>
      <div>Dentitos</div>
    </div>
    <div class="accordion">
      <div class="section">
        <input id="section-1" type="radio" name="accordion-1" checked="checked"/>
        <label for="section-1"><span>Home</span></label>
      </div>
      <div class="section">
        <input id="section-2" type="radio" name="accordion-1" value="toggle"/>
        <label for="section-2"> <span>Citas</span></label>
        <div class="content">
          <ul>
            <li><i class="fa fa-inbox"></i><span>Lista de citas</span></li>
            <li><i class="fa fa-share"></i><span>Crear cita</span></li>
            <li><i class="fa fa-archive"></i><span>Archivo</span></li>
          </ul>
        </div>
      </div>
      <!-- <div class="section">
        <input id="section-3" type="radio" name="accordion-1" value="toggle"/>
        <label for="section-3"> <span>Scroller</span></label>
        <div class="content">
          <ul>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
            <li><i class="fa fa-coffee"></i><span>Need Coffee</span></li>
          </ul>
        </div>
      </div>
      <div class="section">
        <input id="section-4" type="radio" name="accordion-1" value="toggle"/>
        <label for="section-4"> <span>Section 4</span></label>
        <div class="content"></div>
      </div>-->
    </div>
  </div>